body{
    background-color: orange;
    font-family:"Indie Flower";
   
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.task{
    padding: 60px;
    margin: 40px;
    width: 110px;
    height: 120px;
  border: 2px solid black;
 
   
   
}

h1{
    font-size: 25px;
    margin-bottom: 20px;
}

.bordo{
   background-color:yellowgreen;
   transform: rotate(-10deg);
   transition: all 0.5s;
   
}

.bord{
   background-color: aqua;
   transform: rotate(10deg);
   transition: all 0.5s;
}

.b{
    background-color:yellow;
    transform: rotate(10deg);
    transition: all 0.5s;
}

.bord:hover{
  transform: scale(1.2);
  z-index: 2;
  box-shadow: 0px 7px 26px 5px #0000;
}


.bordo:hover{
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 0px 7px 26px 5px #0000;
  }
  
  
.b:hover{
    transform: scale(1.2);
    z-index: 2;
    box-shadow: 3px 7px 26px 5px #0000;
}

